@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Co-Sport</h1>
    <p class="lead">Co-Sport，让你不再为约球而烦恼O(∩_∩)O</p>
</div>
<img src="~/Content/sports.jpg"/>
<div class="row">
    <div class="col-md-4">
        <h2>乒乓球拍</h2>
        <p>
            这里有我们推荐给你的运动器材，来选购你喜欢的吧~
        </p>
        <p><a class="btn btn-default" href="https://item.jd.com/33149015123.html">传送门 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>羽毛球拍</h2>
        <p>这里有我们推荐给你的运动器材，来选购你喜欢的吧~</p>
        <p><a class="btn btn-default" href="">未开启的传送门 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>网球拍</h2>
        <p>这里有我们推荐给你的运动器材，来选购你喜欢的吧~</p>
        <p><a class="btn btn-default" href="">未开启传送门 &raquo;</a></p>
    </div>
</div>