@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("创建团体", "CreateGroup")<br />
    @Html.ActionLink("我的团体","MyGroup")<br />
    @Html.ActionLink("加入团体","JoinGroup")<br />
</p>
